<h3>Inline</h3>
<form name="inline">
  <bm-signature-pad ng-model="$ctrl.signature"
                    required
                    options="{ penColor: 'blue' }"
                    crop="$ctrl.crop"
                    scale-down="$ctrl.scaleDown"
                    resize="$ctrl.resize = $fn"
                    ng-style="{ 'height': $ctrl.height + 'px' }"></bm-signature-pad>

  <button ng-click="$ctrl.signature = undefined"
          ng-disabled="inline.$invalid">Clear</button>
</form>
<br>
<label>Height: </label> <input type="number" ng-model="$ctrl.height">
<br>
<label>Crop: <input type="checkbox" ng-model="$ctrl.crop"></label>
<br>
<label>Scale down on resize: <input type="checkbox" ng-model="$ctrl.scaleDown"></label>

<img ng-show="$ctrl.signature"
     ng-src="{{ $ctrl.signature }}"></image>
